<div class="text-center">
  <h1>Welcome to Two Things 4 Self Esteem</h1>
  <p>Write down 2 things every day that you can appreciate about yourself.</p>
  <p>Few examples:</p>
  <ul>
    <li>I'm proud of myself because i help a few people each day through what I write.</li>
    <li>I'm proud of myself because I can make people laugh and forget about their troubles.</li>
  </ul>
  <hr>
  <p>This website aims to help you save those notes and read them at your convenience when you need them most.</p>
  <%= link_to new_user_registration_path(), class: "waves-effect waves-light btn" do %>
    <i class="material-icons left">thumb_up</i>Start improving your self esteem now
  <% end %>
</div>

