<h1>All my posts</h1>
<% if @posts_count == 0 %>
  <%= link_to new_post_path(), class: "link__empty__states" do %>
    <h6 class="sub-heading margin-bottom-40">Glad to have you here</h6>
    <h5 class="dashboard-link__new">+ Submit a new post</h5>
  <% end %>
<% else %>
  <div class="row">
    <%= render @posts %>
  </div>
<% end %>